
{
    "presets": ["es2015", "stage-2"],
    "plugins": [ "syntax-async-functions",
      "transform-async-to-generator",
      ["transform-regenerator", {
        "asyncGenerators": false,
        "generators": false,
        "async": false
      }],
      ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }]
    ]
  }